<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>
    <div id="app">
        <App></App>
    </div>
    <script src="../../js/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        // 子组件
        const Children = Vue.extend({
            data() {
                return {
                    options: [{
                        value: '选项1',
                        label: '黄金糕'
                    }, {
                        value: '选项2',
                        label: '双皮奶'
                    }, {
                        value: '选项3',
                        label: '蚵仔煎'
                    }, {
                        value: '选项4',
                        label: '龙须面'
                    }, {
                        value: '选项5',
                        label: '北京烤鸭'
                    }],
                    value: '',
                    selectInstance: ''
                }
            },
            props: {
                title: {
                    type: String
                }
            },
            mounted() {
                console.log(this.$refs.select)
                this.selectInstance = this.$refs.select
            },
            methods: {
                changeValue(){
                    this.value = '选项1'
                }
            },
            template: `
                <div>
                    <el-select ref="select" v-model="value" placeholder="请选择">
                        <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </div>
            `
        })
        // 父组件
        const Parent = Vue.extend({
            data() {
                return {
                    title: ''
                }
            },
            components: {
                Children,
            },
            methods: {
                getInstance(){
                    const intance = this.$refs.children
                    debugger
                }
            },
            template: `
                <div>
                    <Children ref='children'></Children>
                    <button @click="getInstance">点击</button>
                </div>
            `
        })

        // App
        const App = Vue.extend({
            name: "App",
            components: {
                Parent,
            },
            template: `<Parent></Parent>`
        })

        const vm = new Vue({
            el: '#app',
            components: {
                App
            },
            data: {
                n: 1
            },
            methods: {},
            watch: {}
        })
    </script>
    <style>
    </style>
</body>

</html>